.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.homepage.invisible {
    opacity: 0;
}

.homepage-text {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 32px;
    z-index: 5;
}

.home-navigation {
    width: 100%;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 900px) {
    .homepage .home-nav-button.right {
        top: 25vh;
        position: absolute;
    }

    .homepage .home-nav-button.left {
      top: 70vh;
      position: absolute;
    }
    .homepage-text {
        font-size: 1em;
        width: 100%;
    }
}


