.home-nav-button {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    text-align: center;
    z-index: 2;
}

.home-nav-button.left {
    top: 50vh;
    left: 0;
    flex-direction: row-reverse;
    margin-left: 1%;
    transform: translateY(-50%);
}

.home-nav-button.top {
    left: 50vw;
    transform: translateX(-50%) ;
    flex-direction: column-reverse;
    margin-top: 1%;
    top: 0;
}

.home-nav-button.right {
    right: 0;
    top: 50vh;
    margin-right: 1%;
    transform: translateY(-50%);
}

.home-nav-button.bottom {
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    flex-direction: column;
    margin-bottom: 1%;
}


.home-nav-button img {
    width: 50px;
    transition: 300ms;
}

.left img {
    transform: rotate(270deg);
}

.right img {
    transform: rotate(90deg);
}

.bottom img {
    transform: rotate(180deg);
}

.home-nav-button img:hover {
    width: 80px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .home-nav-button {
        border: 1px solid var(--backgroundColor3);
        padding:1em;
        border-radius: 16px;
    }

    .home-nav-button.bottom {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
        border-bottom: none;

    }
    .home-nav-button.top {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin: 0;
        border-top: none;

    }
    .home-nav-button.right {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin: 0;
        border-right: none;

    }
    .home-nav-button.left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
        border-left: none;
    }
}