.hover-letters {
    transition: 400ms;
    display: inline-flex;
}

.hover-letters span {
    display: block;
    transition: 600ms;
    min-width: 0.5em;
}

.hover-letters:hover span:nth-child(5n-4) {
    transform: translate(10%, 30%) rotate(30deg);
}
.hover-letters:hover span:nth-child(5n-3) {
    transform: translate(20%, -30%) rotate(-40deg);
}
.hover-letters:hover span:nth-child(5n-2) {
    transform: translate(30%, 30%) rotate(-20deg);
}
.hover-letters:hover span:nth-child(5n-1) {
    transform: translate(20%, 30%) rotate(45deg);
}
.hover-letters:hover span:nth-child(5n) {
    transform: translate(10%, -30%) rotate(10deg);
}