.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
    justify-content: center;
    gap: 0.5vh;
    height: 100%;
}

.nav-icon img {
    height: 50%;
    filter: invert(81%) sepia(42%) saturate(7098%) hue-rotate(194deg) brightness(88%) contrast(85%);
}

.nav-icon.pad img {
    padding: 4px;
}

a.nav-icon {
    text-decoration: none;
}
