:root {
    --portAniDur: 250ms;
}

.portfolio-body.enter-screen-right .portfolio-img,
.portfolio-body.enter-screen-left .portfolio-img {
    opacity: 0;
    animation-name: fade-in-image;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in;
}

@keyframes fade-in-image {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        overflow: hidden;
    }

    .portfolio-description,
    .portfolio-title,
    .portfolio-img {
        padding: 5vw;
        width: 100%;
    }

    .portfolio-img {
        padding-bottom: 0;
    }

    .portfolio-img img {
        width: 100%;
    }

    .portfolio-header {
        position: fixed;
        width: 100vw;
        display: flex;
        height: 9vh;
        top: 0;
        justify-content: space-evenly;
        background-color: #1f1f1fa6;;
        backdrop-filter: blur(4px);
        z-index: 3;
        box-shadow: 0 0 5px black;
    }

    .portfolio-header>.socials {
        display: none;
    }

    .portfolio-header>.get-in-touch {
        display: none;
    }

    .portfolio-header ul {
        list-style: none;
    }

    .portfolio .home-nav-button {
        display: none;
    }

    .portfolio-body {
        margin-top: 11vh;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-items: center;
        margin-bottom: 12vh;
        min-height: 70vh;
        background-color: var(--backgroundColor2);
        border-radius: 16px;
        box-shadow: 0 0 5px black;
        padding: 1vh 0;
    }


    .portfolio-title {
        grid-row-start: 1;
        display: flex;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        flex-direction: column;
        font-size: 1.8em;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 0;
        color: var(--fontLighter);
        letter-spacing: 1px;
    }

    .portfolio-description {
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 16px;
    }

    .portfolio-description p {
        margin: 1em 0;
        font-size: 1.1em;
    }

    .portfolio-description .portfolio-technologies {
        list-style: none;
        padding-left: 3vw;
        border-left: 5px solid var(--accentColor);
        font-size: 1.2em;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .portfolio-nav {
        display: none;
    }

    .portfolio-nav-mobile {
        position: fixed;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(#16161667, var(--backgroundColor));
        backdrop-filter: blur(2px);
    }

    .portfolio-nav-mobile>span {
        width: 45%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 0 5px black;
    }

    .portfolio-nav-mobile>span img {
        display: none;
    }

    .portfolio-nav-mobile .prev-item {
        background-color: var(--backgroundColor2);
        color: white;
    }

    .portfolio-nav .prev-item img {
        transform: rotate(-90deg);
    }

    .portfolio-nav-mobile .next-item {
        flex-direction: row-reverse;
        background-color: var(--accentColor);
        color: white;
    }

    .portfolio-nav-mobile .next-item img {
        transform: rotate(90deg);
    }

    .portfolio .portfolio-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3vh;
    }

    .portfolio .portfolio-buttons a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .portfolio .portfolio-buttons button {
        font-size: 0.8em;
        letter-spacing: 0px;
        border-radius: 8px;
        width: 90%;
        height: 6vh;
        border: none;
        background-color: var(--backgroundColor3);
        box-shadow: 0 1px 5px black;
    }


    .portfolio-body.leave-screen-left {
        animation-name: leave-screen-left;
        animation-duration: var(--portAniDur);
        animation-fill-mode: forwards;
    }

    @keyframes leave-screen-left {
        to {
            transform: translate(-100vw);
        }
    }

    .portfolio-body.leave-screen-right {
        animation-name: leave-screen-right;
        animation-duration: var(--portAniDur);
        animation-fill-mode: forwards;
    }

    @keyframes leave-screen-right {
        to {
            transform: translate(100vw);
        }
    }

    .portfolio-body.enter-screen-left {
        animation-name: enter-screen-left;
        animation-duration: var(--portAniDur);
        transform: translate(-100vw);
        animation-fill-mode: forwards;
    }

    @keyframes enter-screen-left {
        to {
            transform: translate(0%);
        }
    }

    .portfolio-body.enter-screen-right {
        animation-name: enter-screen-right;
        animation-duration: var(--portAniDur);
        transform: translate(100vw);
        animation-fill-mode: forwards;
    }

    @keyframes enter-screen-right {
        to {
            transform: translate(0%);
        }
    }
}

.portfolio-buttons {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.portfolio-buttons button {
    padding: 2vh;
    background-color: var(--backgroundColor);
    border: 2px solid var(--backgroundColor3);
    color: var(--fontLighter);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 400ms;
}

.portfolio-buttons button:hover {
    background-color: var(--backgroundColor3);
    cursor: pointer;
}

@media screen and (min-width: 800px) {

    .portfolio .nav-icon {
        display: none;
    }

    .portfolio a {
        text-decoration: none;
    }

    .portfolio {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10% 90%;
        margin: auto;
        padding: 2em;
        position: relative;
    }

    .portfolio-header {
        border: 2px solid var(--backgroundColor3);
        display: flex;
        align-items: center;
        position: relative;
    }

    .portfolio-header>.socials {
        display: flex;
        list-style: none;
        border-left: 2px solid var(--backgroundColor3);
        height: 100%;
        align-items: center;
        width: 25%;
        justify-content: space-around;
        margin-left: auto;
    }

    .portfolio-header .home-nav-button {
        position: relative;
        padding: 0;
        flex-direction: row;
        margin: 0;
        left: auto;
        transform: none;
    }

    .portfolio-header>.home-nav-button {
        padding: 1em;
        transition: 400ms;
        gap: 0.5em;
        flex-direction: row-reverse;
    }

    .portfolio-header .home-nav-button:hover {
        cursor: pointer;
    }

    .portfolio-header>.home-nav-button img {
        width: 3vh;
    }

    .portfolio-header>.home-nav-button:hover img {
        width: 3.5vh;
    }

    .portfolio-header>.home-nav-button:hover {
        font-size: 1.2em;
    }

    .get-in-touch {
        height: 100%;
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: center;
        text-transform: uppercase;
        transition: 400ms;
        border-left: 2px solid var(--backgroundColor3);
    }

    .get-in-touch:hover {
        font-size: 1.1em;
    }

    .get-in-touch>.home-nav-button img {
        display: none;
    }

    .portfolio>.portfolio-body {
        border: 2px solid var(--backgroundColor3);
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 70% 30%;
        border-top: none;
    }

    .portfolio-img {
        border-right: 2px solid var(--backgroundColor3);
        border-bottom: 2px solid var(--backgroundColor3);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portfolio-img img {
        height: 95%;
        width: auto;
    }

    .portfolio-description {
        border-bottom: 2px solid var(--backgroundColor3);
        padding: 2vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .portfolio-title {
        border-right: 2px solid var(--backgroundColor3);
        font-size: 4.5vh;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 3.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 4vh;
    }

    .portfolio-description>.portfolio-technologies {
        list-style: none;
        border-left: 2px solid var(--backgroundColor3);
        padding-left: 0.5vw;
        font-size: 1.1em;
    }

    .portfolio-technologies>ul {
        list-style: none;
    }

    .portfolio-text {
        margin-bottom: auto;
    }

    .portfolio-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .portfolio-nav>.prev-item,
    .portfolio-nav>.next-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .portfolio-nav>.prev-item {
        border-right: 2px solid var(--backgroundColor3);
    }

    .portfolio-nav>.next-item img {
        transform: rotate(90deg);
    }

    .portfolio-nav>.prev-item img {
        transform: rotate(-90deg);
    }

    .portfolio-nav img {
        width: 20%;
        transition: 400ms;
    }

    .portfolio-nav img:hover {
        width: 25%;
        cursor: pointer;
    }

    .portfolio-nav-mobile {
        display: none
    }



    .portfolio-body.leave-screen-left {
        animation-name: leave-screen-left;
        animation-duration: var(--portAniDur);
        animation-fill-mode: forwards;
    }

    @keyframes leave-screen-left {
        to {
            transform: translate(-100vw);
        }
    }

    .portfolio-body.leave-screen-right {
        animation-name: leave-screen-right;
        animation-duration: var(--portAniDur);
        animation-fill-mode: forwards;
    }

    @keyframes leave-screen-right {
        to {
            transform: translate(100vw);
        }
    }

    .portfolio-body.enter-screen-left {
        animation-name: enter-screen-left;
        animation-duration: var(--portAniDur);
        transform: translate(-100vw);
        animation-fill-mode: forwards;
    }

    @keyframes enter-screen-left {
        to {
            transform: translate(0%);
        }
    }

    .portfolio-body.enter-screen-right {
        animation-name: enter-screen-right;
        animation-duration: var(--portAniDur);
        transform: translate(100vw);
        animation-fill-mode: forwards;
    }

    @keyframes enter-screen-right {
        to {
            transform: translate(0%);
        }
    }

}