.portfolio {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.portfolio .home-nav-button {
    background-color: var(--backgroundColor);
    padding: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 400ms;
    box-sizing: border-box;
    margin: 0;
}

.portfolio-description p {
    margin-bottom: 1em;
}

.portfolio-description ul {
    margin-bottom: 1em;
    gap: 3px;
    border-left: 3px solid var(--accentColor);
}

.portfolio-description li {
    list-style: none;
    font-weight: bold;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.portfolio-description .text-box p {
    margin-left: 1em;
}


.portfolio .home-nav-button img:hover {
    width: 60px;
}

.portfolio-buttons button {
    padding: 2em;
    background-color: var(--backgroundColor2);
    color: var(--fontLighter);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 400ms;
    border: none;
    width: 100%;
}

.portfolio-buttons button:hover {
    cursor: pointer;
    color: var(--accentColor);
}

@media screen and (min-width: 800px) {


    .portfolio {
        min-height: 100vh;
        min-width: 100vw;
        max-width: auto;
        max-height: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .portfolio-showcase {
        background-color: var(--backgroundColor);
        margin: 2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        width: 100%;
    }

    .portfolio-title,
    .portfolio-navigation,
    .portfolio-description,
    .portfolio-image {
        background-color: var(--backgroundColor3);
    }

    .portfolio-title {
        width: 100%;
        height: 3em;
        display: flex;
        align-items: center;
        font-size: 2.5em;
        padding-left: 1em;
    }

    .portfolio-description {
        width: 25em;
        padding: 2em;
        height: 80vh;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .portfolio-thumbs-container {
        width: calc(100% - 25em - 3px);
        height: 80vh;
    }


    .portfolio-thumbs {
        background-color: var(--backgroundColor2);
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2em;
        grid-auto-rows: min-content;
        gap: 2em;
        width: max-content;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .portfolio-buttons {
        display: inline-flex;
        flex-direction: column;
        gap: 1em;
        margin-top: auto;
        margin-bottom: 1em;
        align-self: center;
    }

}

@media screen and (max-width: 2000px) {

    .portfolio-thumbs {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .portfolio-thumbs {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {

    .portfolio {
        height: 100vh;
        width: 100vw;
    }

    .portfolio-showcase {
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 3fr 3fr;
        gap: 2em;
        width: 95%;
        margin: auto;
    }
  
    .portfolio .home-nav-button {
        bottom: 0;
        top: auto;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        background-color: #1f1f1fd0;
    }

    .portfolio-thumbs-container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        align-items: center;
    }

    .portfolio-thumbs {
        display: flex;
        width: auto;
        align-content: center;
        align-items: center;
        column-gap: 2em;
    }

    .portfolio-thumb {
        min-width: 90%;
    }

    .portfolio-description {
       background-color: var(--backgroundColor2);
       padding: 1em;
       margin-bottom: 2.5%;
    }

    .portfolio-title {
        background-color: var(--backgroundColor2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
        margin-top: 2.5%;
       font-size: 1.5em;

    }

      
    .portfolio .home-nav-button {
        bottom: 0;
        right: 0;
        left: auto;
        background-color: #1f1f1f;
    }

    .portfolio-thumb img {

        filter: brightness(80%);
        -webkit-filter: brightness(80%);
       
    }

    
}