

@media screen and (max-width: 800px) {

    .portfolio {
        height: 100vh;
        width: 98vw;
        display: grid;
        grid-template-rows: 8vh 90vh;
        margin: auto;
    }


    .portfolio-img {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--backgroundColor3);
        border-top: none;
        border-bottom: none;
    }

    .portfolio-img img {
        width: 100%;
    }

    .portfolio-header .home-nav-button {
        position: relative;
        padding: 0;
        flex-direction: row;
        margin: 0;
        left: auto;
        transform: none;
    }

    .portfolio-header .home-nav-button img {
        display: none;
    }

    .portfolio-header {
        width: 100%;
        display: grid;
        margin-top: 1vh;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1vh 0;
        row-gap: 1vh;
        border: 2px solid var(--backgroundColor3);
    }

    .portfolio-header .home-nav-button {
        font-size: 0.8em;
    }

    .portfolio-header>.socials {
        display: none;
    }

    .portfolio-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 4fr 1fr;
    }

    .portfolio-title {
        grid-row-start: 1;
        display: flex;
        gap: 0.8em;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2vw;
        margin: auto;
        border: 2px solid var(--backgroundColor3);
        height: 100%;
        width: 100%;
        border-top: none;
    }

    .portfolio-description {
        padding: 5vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        border: 2px solid var(--backgroundColor3);
    }

    .portfolio-description>.portfolio-technologies {
        list-style: none;
        padding-left: 5vw;
        border-left: 2px solid var(--backgroundColor3);
        font-size: 1.1em;
    }

    .portfolio-description>.portfolio-text {
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .portfolio-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        border: 2px solid var(--backgroundColor3);
        border-top: none;
    }

    .next-item, .prev-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next-item {
        border-left: 2px solid var(--backgroundColor3);
    }

    .prev-item img{
        transform: rotate(-90deg);
        width: 30%;
    }

    .next-item img {
        transform: rotate(90deg);
        width: 30%;
    }


}

.portfolio-buttons {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.portfolio-buttons button {
    padding: 2vh;
    background-color: var(--backgroundColor);
    border: 2px solid var(--backgroundColor3);
    color: var(--fontLighter);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 400ms;
}

.portfolio-buttons button:hover {
    background-color: var(--backgroundColor3);
    cursor: pointer;
}

@media screen and (min-width: 800px) {

    .portfolio a {
        text-decoration: none;
    }

    .portfolio {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10% 90%;
        margin: auto;
        padding: 2em;
        position: relative;
    }

    .portfolio-header {
        border: 2px solid var(--backgroundColor3);
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: none;
    }

    .portfolio-header>.socials {
        display: flex;
        list-style: none;
        border-left: 2px solid var(--backgroundColor3);
        height: 100%;
        align-items: center;
        width: 25%;
        justify-content: center;
        gap: 5vw;
        margin-left: auto;
    }

    .portfolio-header .home-nav-button {
        position: relative;
        padding: 0;
        flex-direction: row;
        margin: 0;
        left: auto;
        transform: none;
    }

    .portfolio-header>.home-nav-button {
        padding: 1em;
        transition: 400ms;
        gap: 0.5em;
        flex-direction: row-reverse;
    }

    .portfolio-header .home-nav-button:hover {
        cursor: pointer;
    }

    .portfolio-header>.home-nav-button img {
        width: 3vh;
    }

    .portfolio-header>.home-nav-button:hover img {
        width: 3.5vh;
    }

    .portfolio-header>.home-nav-button:hover {
        font-size: 1.2em;
    }

    .get-in-touch {
        height: 100%;
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: center;
        text-transform: uppercase;
        transition: 400ms;
        border-left: 2px solid var(--backgroundColor3);
    }

    .get-in-touch:hover {
        font-size: 1.1em;
    }

    .get-in-touch>.home-nav-button img {
        display: none;
    }

    .portfolio>.portfolio-body {
        border: 2px solid var(--backgroundColor3);
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 70% 30%;
    }

    .portfolio-img {
        border-right: 2px solid var(--backgroundColor3);
        border-bottom: 2px solid var(--backgroundColor3);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portfolio-img img {
        height: 95%;
        width: auto;
    }

    .portfolio-description {
        border-bottom: 2px solid var(--backgroundColor3);
        padding: 2vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .portfolio-title {
        border-right: 2px solid var(--backgroundColor3);
        font-size: 4.5vh;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding-left: 3.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 4vh;
    }

    .portfolio-description>.portfolio-technologies {
        list-style: none;
        border-left: 2px solid var(--backgroundColor3);
        padding-left: 0.5vw;
        font-size: 1.1em;
    }

    .portfolio-technologies>ul {
        list-style: none;
    }

    .portfolio-text {
        margin-bottom: auto;
    }

    .portfolio-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .portfolio-nav>.prev-item,
    .portfolio-nav>.next-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .portfolio-nav>.prev-item {
        border-right: 2px solid var(--backgroundColor3);
    }

    .portfolio-nav>.next-item img {
        transform: rotate(90deg);
    }

    .portfolio-nav>.prev-item img {
        transform: rotate(-90deg);
    }

    .portfolio-nav img {
        width: 20%;
        transition: 400ms;
    }

    .portfolio-nav img:hover {
        width: 25%;
        cursor: pointer;
    }
}