/*** Week 2 ***/
.animated-form-label {
  position: relative;
  margin: 1em;
}

.animated-form-label input,
.animated-form-label textarea {
  font-family: inherit;
  font-size: 1.5em;
  padding: 10px 0;
  border: none;
  color: inherit;
  outline: none;
  border-bottom: 1px solid grey;
}

.animated-form-label label {
  position: absolute;
  top: 1.6em;
  left: 0;
  text-transform: uppercase;
  transition: 250ms;
  font-size: 1.4em;
}

.animated-form-label input:valid ~ label,
.animated-form-label input:focus ~ label,
.animated-form-label textarea:valid ~ label,
.animated-form-label textarea:focus ~ label
{
  color: var(--accentColor);
  transform: translateY(-1.6em);
  font-size: 0.9em;
}


/**** Week 1 ****/
.underline-on-hover {
    display: inline-flex;
    padding-bottom: 0.5em;
    position: relative;
  }
  
  .underline-on-hover:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0.2em;
    transition: 0.7s;
    background-color: var(--accentColor);
  }
  
  .underline-on-hover:hover:after {
    width: 100%
  }
  
  .underline-on-hover:hover {
    cursor: pointer;
  }
