/*** Week 5 ***/

.week-5-nav-icon {
  width: 40px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  height: 40px;
}

.week-5-nav-icon span  {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.week-5-nav-icon span:nth-child(1) {
  top: 0px;
}

.week-5-nav-icon span:nth-child(2) {
  top: 14px;
}

.week-5-nav-icon span:nth-child(3) {
  top: 28px;
}

.week-5-nav-icon.open span:nth-child(1) {
  top: 14px;
  transform: rotate(135deg);
}

.week-5-nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.week-5-nav-icon.open span:nth-child(3) {
  top: 14px;
  transform: rotate(-135deg);
}


/*** Week 4 ***/

.scattered-letters {
  transition: 400ms;
  display: inline-flex;
}

.scattered-letters span {
  display: block;
  transition: 600ms;
  min-width: 0.5em;
}

.scattered-letters:hover span {
  color: var(--accentColor);
}

.scattered-letters:hover span:nth-child(5n-4) {
  transform: translate(-20%, 20%) rotate(30deg);
}
.scattered-letters:hover span:nth-child(5n-3) {
  transform: translate(20%, -30%) rotate(-40deg);
}
.scattered-letters:hover span:nth-child(5n-2) {
  transform: translate(20%, 10%) rotate(-20deg);
}
.scattered-letters:hover span:nth-child(5n-1) {
  transform: translate(20%, 30%) rotate(45deg);
}
.scattered-letters:hover span:nth-child(5n) {
  transform: translate(20%, -5%) rotate(10deg);
}

/*** Week 3 ***/

.moving-gradient-text {
  animation: move-gradient 3s linear infinite;
  background: linear-gradient(to right,
      rgb(252, 0, 252),
      rgb(251, 11, 11),
      rgb(47, 179, 208),
      rgb(252, 0, 252));
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes move-gradient {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}



/*** Week 2 ***/
.animated-form-label {
  position: relative;
  margin: 1em;
}

.animated-form-label input,
.animated-form-label textarea {
  font-family: inherit;
  font-size: 1.5em;
  padding: 10px 0;
  border: none;
  color: inherit;
  outline: none;
  border-bottom: 1px solid grey;
}

.animated-form-label label {
  position: absolute;
  top: 1.5em;
  left: 0;
  text-transform: uppercase;
  transition: 250ms;
  font-size: 1.4em;
}

.animated-form-label input:valid ~ label,
.animated-form-label input:focus ~ label,
.animated-form-label textarea:valid ~ label,
.animated-form-label textarea:focus ~ label
{
  color: var(--accentColor);
  transform: translateY(-1.6em);
  font-size: 0.9em;
}


/**** Week 1 ****/
.underline-on-hover {
    display: inline-flex;
    padding-bottom: 0.5em;
    position: relative;
  }
  
  .underline-on-hover:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0.2em;
    transition: 0.7s;
    background-color: var(--accentColor);
  }
  
  .underline-on-hover:hover:after {
    width: 100%
  }
  
  .underline-on-hover:hover {
    cursor: pointer;
  }
